.mainMenuBox{
    width: calc(33.33% - 20px); /* Kutuların genişliği, kenar boşluğu dahil */
    float: left; /* Kutuları yanyana hizalar */
    margin: 10px; /* Kenar boşluğu */
    padding: 20px; /* İç boşluk */
    box-sizing: border-box; /* Kenar boşluğunu genişlik hesabına dahil eder */
    
}

#logoId{
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.center-nav-bar {
    margin-top: 20px;
}

#tryIdBox {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 25vh; /* Kutu yüksekliği */
    min-height: 100px; /* Kutu minimum yükseklik */
    max-width: 300px; /* Kutu maksimum genişlik */
    max-height: 200px; /* Kutu maksimum yükseklik */
    margin: 0 auto;
    width: 40%; /* Kutu genişliği */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 82%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;


    font-size: 30px;
    font-weight: 200;
    font-style: normal;
    
    box-shadow: 0 5px 15px rgba(white, white, white, .999);
    
    
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 40px; /* Kenar yarıçapı */
    background-color: rgba(255, 255, 255, 0.1); /* White with 20% opacity */
    padding: 20px; /* Padding for content inside the box */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Shadow effect */
    backdrop-filter: blur(10px); /* Blur effect */

    cursor: pointer;
    transition: 1.5s;

}
#tryIdBox:hover{
    box-shadow: 0 5px 50px 0 white inset, 0 5px 50px 0 white,
                0 5px 50px 0 white inset, 0 5px 50px 0 white;
    text-shadow: 0 0 5px white, 0 0 5px white;

}
.box{
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 10px 10px 10px rgb(black, black, black);
    background-image: url(img/boxBackground.mp4);

}
.box :hover{
    transform: scale(1.1);
}

.no-decoration{
    text-decoration: none;
    text-align: center;
    transition: transform 0.3s ease-in-out;

    background-color: #444444;
    color: white;

    background-color: transparent;
    text-decoration: none;
    color: white;
    outline: none;
    border:none;

    

}
.no-decoration :hover{
    transform: scale(1.1);
}

.texts{
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 100;
    font-size: 26px;
    font-style: normal;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.inputs{
    padding: 10px; /* Kenar boşluğu */
    width: 200px; /* Başlangıç genişliği */
    font-size: 16px; /* Metin boyutu */
    border-radius: 5px; /* Kenar yarıçapı */
    border: 1px solid #ccc; /* Kenarlık */
    transition: width 0.3s; /* Geçiş efekti */
}
#mainMenuId, #scanId, #helpId ,#listsId{
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
    
    border-color: white;
    font-family: "Jersey 10", sans-serif;
    font-weight: 200;
    font-style: normal;
    cursor: pointer;
    transition: 1.5s;
    margin-right: 15px;
    margin-left: 15px;

    width: 50px;
    height: 100px;

}

#mainMenuId:hover ,#scanId:hover, #helpId:hover, #dailyModeId:hover, #businessModeId:hover, #commercialModeId:hover, #generalModeId:hover ,#listsId:hover{
    box-shadow: 0 5px 25px 0 white inset, 0 5px 25px 0 white,
                0 5px 25px 0 white inset, 0 5px 25px 0 white;
    text-shadow: 0 0 5px white, 0 0 5px white;
    transform: scale(1.1);
}
#dailyModeId ,#commercialModeId, #businessModeId, #generalModeId{
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    padding: 70px;
    float: left;
    margin-right: 80px;
    margin-left: 130px;
    padding: 50px;
    width: 230px;
    height: 175px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1); /* White with 20% opacity */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding for content inside the box */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Shadow effect */
    backdrop-filter: blur(10px); /* Blur effect */

    cursor: pointer;
    transition: 1.5s;
}


#selectModeId{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-size: 26px;
    font-style: normal;
    
}


#selectModeBody ,#helpBody, #businessModeBody, #commercialModeBody, #dailyModeBody, #bodyId, #generalModeBody ,#listsBody{
    background-image: url(img/animated2gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #444444;
}
#dailyP, #businessP, #commercialP{
    border-style: none;
    border-color: white;
    border-radius: 15px;
    padding: 70px;
    float: left;
    margin-right: 80px;
    margin-left: 130px;
    margin-top: 30px;
    padding: 50px;
    width: 230px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1); /* White with 20% opacity */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding for content inside the box */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Shadow effect */
    backdrop-filter: blur(10px); /* Blur effect */
}
#dP, #bP, #cP{
    color: white;
}
a:visited, a:active, a:focus{
    background-color: transparent;
    text-decoration: none;
    color: white;
    outline: none;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
    border:none;
}
#dailyModeSelected, #businessModeSelected, #commercialModeSelected ,#generalModeSelected{
    color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 75px;
    font-size: 60px;
}
#emailText {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 30px;
}
.scanButton{
    padding: 30px;
    border-radius: 25px;

    background-color: rgba(255, 255, 255, 0.1); /* White with 20% opacity */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding for content inside the box */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Shadow effect */
    backdrop-filter: blur(10px); /* Blur effect */
}
.emailArea{
    height: 200px;
    width: 500px;
    border-radius: 7px;
    box-sizing: border-box; 
    resize: none; 
    overflow: auto; 
}
.enterAnEmail{
    color: white;
}

#generalModeBox {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 25vh; /* Kutu yüksekliği */
    min-height: 100px; /* Kutu minimum yükseklik */
    max-width: 300px; /* Kutu maksimum genişlik */
    max-height: 200px; /* Kutu maksimum yükseklik */
    margin: 0 auto;
    width: 40%; /* Kutu genişliği */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 18%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;


    font-size: 30px;
    font-weight: 200;
    font-style: normal;
    
    box-shadow: 0 5px 15px rgba(white, white, white, .999);
    
    
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 40px; /* Kenar yarıçapı */
    background-color: rgba(255, 255, 255, 0.1); /* White with 20% opacity */
    padding: 20px; /* Padding for content inside the box */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Shadow effect */
    backdrop-filter: blur(10px); /* Blur effect */

    cursor: pointer;
    transition: 1.5s;

}
#generalModeBox:hover{
    box-shadow: 0 5px 50px 0 white inset, 0 5px 50px 0 white,
                0 5px 50px 0 white inset, 0 5px 50px 0 white;
    text-shadow: 0 0 5px white, 0 0 5px white;
}
#blacklist ,#whitelist {
    padding: 70px;
    float: left;
    margin-right: 80px;
    margin-left: 130px;
    padding: 50px;
    width: 230px;
    height: 175px;
    font-size: 20px;
}
.helpPage{
    margin: 35px;
    font-size: 25px;
    color: white;
}
.outputTextArea{
    overflow: scroll;
    height: 100px;
    width: 400px;
    position: relative;
    top: -130px;
    resize: none;
    color: black;
}

.result_h4{
    color: rgb(81, 165, 255);
}