<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body id="bodyId">
        <center class = "center-nav-bar">
            <a class="no-decoration" id="mainMenuId" href="{{ url_for('main_menu') }}">Main Menu</a> 
            <a class="no-decoration" id="scanId" href="{{ url_for('select_mode') }}">Select Mode</a>
            <a class="no-decoration" id="listsId" href="{{ url_for('lists') }}">Blacklist/Whitelist</a> 
            <a class="no-decoration" id="helpId" href="{{ url_for('help_page') }}">Help</a>
        </center>
        <div id="bodyDiv">
        
            <div id="biggestDiv">
                <div class="mainMenuBox">
                    <h1 id="spamShield" class="texts">Try General Mode</h1>
                <p id="what" class="texts">General mode for basic scanning!</p>
                </div>

                <div class="mainMenuBox">
                    <img id="logoId" src="{{ url_for('static', filename='img/logoBeyaz.png') }}" height="400px">

                </div>
                
                <div class="mainMenuBox">
                    <h1 class="texts">Looking for something more specific?</h1>
                <p id="doWhat" class="texts">Try detailed modes!
                </p>
                </div>
                
            </div>

            <div id="generalModeBox" class="box">
                <h3><a class="no-decoration" href="{{ url_for('index') }}">General Mode</a></h3>
            </div>
        
            <div id="tryIdBox" class="box">
                <h3><a class="no-decoration" href="{{ url_for('select_mode') }}">Other Modes</a></h3>
            </div>
            
        </div>
        
            
        <style>
            
        </style>
    </body>
</html>